<h1 class="text-2xl font-montserrat font-bold text-secondary text-center mb-2">
    Login
</h1>
<form action="" class="flex flex-col gap-2">
    <label class="input validator">
  <i class="bi bi-envelope"></i>
  <input type="email" placeholder="enter email" required />
</label>
<div class="validator-hint hidden">Enter valid email address</div>
<div class="join">
  <div>
    <label class="input validator join-item">
      <i class="bi bi-key"></i>
      <input type="email" placeholder="enter password" required />
    </label>
    <div class="validator-hint hidden">Enter valid email address</div>
  </div>
  <button class="btn btn-neutral join-item"><i class="bi bi-eye"></i></button>
</div>

<button type="submit" class="btn btn-secondary">Login</button>
</form>
